
<!doctype html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>New document</title>
  <link href='http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=PT+Mono' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="/static/bazhum/styles/style.css">
  <script src="/static/bazhum/scripts/jquery-1.7.2.min.js" type="text/javascript"></script>
  <script src="/static/bazhum/scripts/gridPreview.js" type="text/javascript"></script>
  <script src="/static/bazhum/scripts/application.js" type="text/javascript"></script>
</head>
<body>
  <div id="main_conteiner">

    <div id="header">
      <!-- User menu start -->
      <div id="user_menu_conteiner">
        <ul id="user_menu" class="menu">
          <li><a href="#" title=""><span class='bold'>E-półka</span> (12)</a></li>
          <li><a href="#" title="">Wyloguj</a></li>
        </ul>      
      </div>

      <!-- User menu end -->
      <div class="wrap">
        <div id="logo"><a href="#"><img class="logo_img" height="30px" width="auto" src="/static/bazhum/images/bazhum_logo.png"></a></div>
        
        <div id="menu_box_icon">
          
        </div>

        <div id="menu_box">
          <div class="wrap">
            <div id="top_search">
              <form id="quick_search">
                <div class="text_input_wrap"><input type="text" name="" value="" placeholder=""></div>
                <input type="submit" name="" value="Szukaj">
              </form>
            </div>    
            <ul id ="menu_main" class="bold menu">
              <li class="no_mobile">
                <a href="#" title="">Wyszukiwanie zaawansowane</a>
              </li>
              <li>
                <a href="#" title="">Lista czasopism</a>
              </li>
            </ul>
        </div>
        </div>
      </div>
      <hr>
    </div>


      <div id="content_conteiner" class="wrap">
          <div class="meta_column">
              <h1 class="regular">Strona, której szukasz <br>
nie została znaleziona.</h1>
              <p class="data_block">Możesz skorzystać z <a class="bold" href="http://bazhum.pl/bib/search/advanced/" title="">wyszukiwarki</a> lub przejść na <a class="bold" href="http://bazhum.pl/" title="">stronę główną</a>.
              <br><br><br>
          </div>

          <div class="clear"></div>

           

          

   

      </div>
      
      <div id="footer">
        <hr>
        <div class="wrap">

          <div class="footer_box">
            <div class="wrap">
              <ul id="footer_menu" class="bold menu">
                  <li>
                    <a href="#" title="">O projekcie</a>
                  </li>
                  <li>
                    <a href="http://czasopisma.bazhum.hist.pl" target="_blank" title="">Oferta dla wydawców</a>
                  </li>
              </ul>
              <div class="design_note">
                <p class="small">
                  Materiały zamieszczone na stronie są dostępna na licencji  CC-BY-SA <br>
                  Projekt graficzny serwisu: <a href="http://veshch.com/" target="_blank">Veshch</a>
                </p>

              </div>
            </div>
          </div>

          <div class="mhp_logo">
              <p class="small">

                <a href="http://www.muzhp.pl/" target="_blank" title="">
                  <img class="mhp_logo_img" src="/static/bazhum/images/mhp_logo.jpg" alt="">
                Muzeum Historii <br>
                Polski w Warszawie</a>
            </p>
          </div>

        </div>
      </div>
  </div>
</body>
</html>