{% include templ.header %}
      <div id="content_conteiner" class="wrap">
          <div class="meta_column">
              <h1><span class="regular">Baza bibliograficzna czasopism&nbsp;humanistycznych 
i&nbsp;społecznych</span>&nbsp;BazHum</h1>
              <br>
              <p class="line">
                BazHum to baza bibliograficzna polskich naukowych czasopism humanistycznych i&nbsp;społecznych. Baza gromadzi metadane bibliograficzne: rejestruje pełną objętość czasopism — od pierwszych numerów do bieżących. Twórcą kolekcji jest Muzeum Historii Polski w Warszawie.
              </p>
              <br>
              <div class="wrap">
                <div class="two_column">
                  <h2 class="line">Cele</h2>
                  <p class=small>
                  BazHum jest narzędziem wspierającym badania naukowe i edukację. Dzięki umieszczaniu pełnej bibliografii czasopism w bazie znacznie prostsze jest pozyskiwanie, porządkowanie, agregowanie i przekazywanie wartościowych informacji. Czynności te wymagają mniej czasu i zapewniają bardziej precyzyjne wyniki. </p>
                </div>
                <div class="two_column">
                  <h2 class="line">Standardy</h2>
                  <p class=small>Opisy bibliograficzne dla każdego artykułu z osobna tworzone są w formacie MARC 21. Każdy z opisów opracowywany jest z autopsji w dwóch etapach — przepisywany przez katalogerów ze spisu treści według ustalonego standardu, a następnie sprawdzany przez bibliotekarzy. Wszystkie opisy można eksportować w różnych formatach.</p>
                </div>
              </div>
              <div class="copyright_box">
                <hr>
                <p class="small">
                  <a target="_blank" href="http://www.gnu.org/licenses/gpl.html" title="">Oprogramowanie dostępne na licencji GNU General Public License </a> <br>
                  <a target="_blank" href="http://opendatacommons.org/licenses/odbl/" title="">Baza dostępna na Open Data Commons Open Database License (ODbL)  </a>
                </p>
              </div>
              
          </div>
</div>
</body>
</html>