{% include templ.header %}
      <div id="content_conteiner" class="wrap">
          <div class="meta_column">
              <h1>{{ article.getName }}</h1>
              <p class="data_block"><span><a href="{% url 'bib.views.showJournal' jrl.id %}">{{ jrl }}</a> 
              {%spaceless%}{% if volume %}<a href="{% url 'bib.views.showVolume' volume.id %}">{{ volume.getName }}</a>{% endif %}{% if volume and number %}/{%endif%}{% if number %}<a href="{% url 'bib.views.showNumber' number.id %}">{{ number.getName }}</a>{% endif %}{%endspaceless%}
              {% if year %}({{ year.getName }}){% endif %}
              s. {% for p in pages %}
              {{ p.page_from }} 
              {% if p.page_to %}-{%endif%}
              {{ p.page_to }}
              {% if not forloop.last %}, {% endif %}
              {% endfor %}</span> <br>              
              {% for a in article.getAuthors %}
              <a href="{% url 'bib.views.searchResults' %}?fa={{a.id}}">{{ a.firstname.strip }} {{ a.surname.strip }}</a>{% if not forloop.last %}, {% endif %}
              {% endfor %}<br/>
              {% for r in reviews %}
              {% if forloop.first %}
              Tytuł recenzowanego dzieła: <b>
              {% endif %}{{ r }}{% if not forloop.last %}, {% endif %}
              {% endfor %}</b>
              </p>
              <div class="wrap">
                {% include templ.social %}
              </div>
          </div>

          <div class="clear"></div>

          <div class="freeze_wrap"> 
            <div id="freeze">
                <div class="wrap"> 
                  <div class="real_box">
                  <div class="wrap"> 
                  <div class="margin_check hide_on_1000">
                    &nbsp;
                  </div> 
                  {% include templ.export %}

                  <p class="go_top"><a href="#" title="">do góry</a></p>
                </div>
           <!--      <hr> -->
              </div></div>
            </div>
          </div> 

</div>
</body>
</html>