{% include templ.header %}

      <div id="content_conteiner" class="wrap">
          <div class="meta_column">
              <h1>{{ jrl }}</h1>
              <p class="data_block"><span class="bold">{{ jrl.getSecondName }}</span> <br>
              {{ jrl.getContributor }} <br>
              {% if jrl.issn %}ISSN {{ jrl.issn|default:"" }}{% endif %}</p>
              <div class="wrap">
                {% include templ.social %}
              </div>
          </div>

          <div class="clear"></div>

          <div class="freeze_wrap"> 
            <div id="freeze">
                <div class="wrap"> 
                  <div class="real_box">
                  <div class="wrap"> 
                  <div class="margin_check">
                    <input type="checkbox" name="checkboxMain" id="checkboxMain" value="value" />
                  </div> 
                  {% include templ.export %}

                  <p class="go_top"><a href="#" title="">do góry</a></p>
                </div>
                <hr>
              </div></div>
            </div>
          </div> 

          <ul class="table_content full_width"> 
          {% for r in records %}
            <li class="line">
              <div class="wrap"> 
                <div class="margin_check">
                  <input class="check" type="checkbox" name="checkbox" value="{% if r.volume %}{{ r.volume.0.id }}{% else %}y{{ r.year.id }}{% endif %}" />
                </div>   
                <div class="links_box tom">
                  <h2>{% if r.volume.0 %}<a href="{% url 'bib.views.showVolume' r.volume.0.id %}" title="">Tom {{ r.volume.0.getName }}</a>{% endif %}&nbsp;&nbsp;<span class="regular">{{ r.year.getName }}</span></h2>          
                </div>
                  <div class="links_box numer">
                  {% for n in r.numbers %}
                  {% if forloop.first %}
                  <p class="label">Numer:</p>
                  <span class="horisontal_big">
                  {% endif %}
                    <a href="{% url 'bib.views.showNumber' n.id %}" title="">{{ n.nn }}</a>                  
                  {% if forloop.last %}
                  </span>    
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
            </li>
          {% endfor %}         
          </ul>

</div>
</body>
</html>