<div class="links_box">
  <p>Zaznaczone:&nbsp;&nbsp;
  <span class="select_wrap">
    <select name="" id="format" title="Lista">
        {% for k,v in meta.export.iteritems %}
            {% if v|length = 2 %}
                <option value="{{ v.0 }}" {{ v.1 }}>{{ k }}</option>
            {% else %}
                <option value="{{ v }}" >{{ k }}</option>
            {% endif %}
        {% endfor %}
    </select>                
  </span>
  <input {% if article %} article="{{ article.id }}" {% endif %} type="submit" name="eksportuj" id="eksportuj" value="Eksportuj">
</p>          
</div>