</div>
  
  <div id="footer">
        <hr>
        <div class="wrap">
          <div class="mhp_logo">
              <p class="small">

                <a href="http://www.muzhp.pl/" target="_blank" title="">
                  <img class="mhp_logo_img" src="{{ meta.images.logomhp }}" alt="">
                Muzeum Historii <br>
                Polski w Warszawie</a>
            </p>
          </div>
          <ul id="footer_menu" class="bold menu">
            <li>
              <a href="{% url 'bib.views.about' %}" title="">O projekcie</a>
            </li>
            <li>
              <a href="http://czasopisma.bazhum.hist.pl" target="_blank" title="">Oferta dla wydawców</a>
            </li>
        </ul>

        <div class="design_note">
          <p class="small">
            Materiały zamieszczone na stronie są dostępna na licencji CC-BY-SA <br>
            Projekt graficzny serwisu: <a target="_blank" href="http://veshch.com/" target="_blank">Veshch</a><br/>
            Serwis w wersji beta
          </p>
        </div>

        </div>
      </div>
  </div>
</body>
</html>