<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<div class="share">
  <p class="line">
    Podziel się:&nbsp;&nbsp;
    <a class="icon email" href="mailto:?body={{ request.build_absolute_uri }}" title=""></a>
    <a id="facebookbtn-link" class="icon facebook" target="_blank" href="http://www.facebook.com/share.php?u=www.bazhum.pl" target="_blank"></a>
    <a href="https://twitter.com/intent/tweet?button_hashtag=TwitterStories" class="icon twitter"></a>
    <a id="googleplus_link" class="icon google_plus" href="https://plus.google.com/share?url=www.bazhum.pl" onclick="javascript:window.open(this.href,
  '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" title=""></a>
  </p>
</div> 