/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
/* Grid */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.row {
  *zoom: 1;
  margin-right: -0.75em;
  margin-left: -0.75em;
}
.row:before,
.row:after {
  display: table;
  content: "";
}
.row:after {
  clear: both;
}
/* CSS3 transition */
.transition {
  transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  /* Firefox 4 */

  -webkit-transition: all 0.25s ease;
  /* Safari and Chrome */

  -o-transition: all 0.25s ease;
  /* Opera */

  -ms-transition: all 0.25s ease;
}
/* Box model */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
body,
html {
  height: 100%;
  font-family: "PT Serif", "Times", "Times New Roman", Georgia, serif;
  font-size: 16px;
  line-height: 1.5em;
  background: #e3eaf2;
  min-width: 1000px;
}
#main_conteiner {
  padding-right: 2.25em;
  padding-left: 2.25em;
  margin: auto;
  max-width: 1280px;
  position: relative;
  height: auto !important;
  min-height: 100%;
}
* {
  -webkit-text-size-adjust: none;
}
.grid_1 {
  width: 8.333333333333332%;
  float: left;
  padding-right: 0.75em;
  padding-left: 0.75em;
}
.simple_form li {
  margin-right: 0px !important;
  margin-left: 0px !important;
  float: none;
}
.clear {
  *zoom: 1;
}
.clear:before,
.clear:after {
  display: table;
  content: "";
}
.clear:after {
  clear: both;
}
#content_conteiner {
  padding-bottom: 7.5em;
}
.wrap {
  *zoom: 1;
  margin-right: -0.75em;
  margin-left: -0.75em;
}
.wrap:before,
.wrap:after {
  display: table;
  content: "";
}
.wrap:after {
  clear: both;
}
.base {
  position: relative;
  top: 0.4em;
}
p,
h3,
ul {
  margin-bottom: 1.5em;
  margin-top: 0px;
  position: relative;
  top: 0.4em;
}
.share {
  width: 50%;
  float: left;
  padding-right: 0.75em;
  padding-left: 0.75em;
}
.bold {
  font-weight: bold;
}
.sizeh2 {
  font-size: 1.3125em;
  line-height: 1.1428em;
  position: relative;
  top: 0.3em;
  margin-bottom: 1.1428em;
  /*  margin-top: 2.2856em;*/

}
h1 {
  font-size: 3em;
  line-height: 1em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  position: relative;
  top: 0.1333em;
}
h2 {
  font-size: 1.3125em;
  line-height: 1.1428em;
  position: relative;
  top: 0.3em;
  margin-bottom: 1.1428em;
  /*  margin-top: 2.2856em;*/

}
.line:after {
  content: " ";
  top: 0px;
  left: 0px;
  right: 0px;
  height: 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.166);
  position: absolute;
}
h2.line:after {
  top: -0.25em;
}
p.line:after,
h3.line:after {
  top: -0.4em;
}
hr {
  margin-top: -1px;
  border-top: 1px solid rgba(0, 0, 0, 0.166);
  padding: 0px;
  margin: 0px;
  height: 1px;
}
.logo_img {
  float: left;
  margin-right: 0.5em;
}
.box {
  width: 25%;
  float: left;
  padding-right: 0.75em;
  padding-left: 0.75em;
}
a {
  text-decoration: none;
  color: inherit;
  opacity: 1;
  filter: alpha(opacity=100);
  transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  /* Firefox 4 */

  -webkit-transition: all 0.1s ease;
  /* Safari and Chrome */

  -o-transition: all 0.1s ease;
  /* Opera */

  -ms-transition: all 0.1s ease;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}
a:hover {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
#header {
  padding-top: 0px;
}
#header #logo {
  width: 16.666666666666664%;
  float: left;
  padding-right: 0.75em;
  padding-left: 0.75em;
}
#header #logo h2 {
  margin-top: 0px;
}
#header #logo a:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
#header #top_search {
  position: relative;
  top: 0.4em;
  width: 30%;
  float: left;
  padding-right: 0.75em;
  padding-left: 0.75em;
  float: right;
}
#header #top_search .text_input_wrap {
  width: auto;
  margin-right: 3.9375em;
}
#header #top_search input[type="text"] {
  width: 100%;
  float: left;
}
#header #top_search input[type="submit"],
#header #top_search input[type="button"] {
  float: left;
  margin: 0px;
  float: right;
  width: 4.25em;
}
#header #menu_main {
  width: 20%;
  float: left;
  padding-right: 0.75em;
  padding-left: 0.75em;
  width: auto;
}
#header #menu_box {
  width: 83.33333333333334%;
  float: left;
  padding-right: 0.75em;
  padding-left: 0.75em;
}
.footer_box {
  width: 83.33333333333334%;
  float: left;
  padding-right: 0.75em;
  padding-left: 0.75em;
  float: right;
}
.regular {
  font-weight: normal;
}
.plus_minus {
  *zoom: 1;
  float: right;
  width: 4.5em;
  font-family: "PT Mono", courier, mono-spaced;
}
.plus_minus:before,
.plus_minus:after {
  display: table;
  content: "";
}
.plus_minus:after {
  clear: both;
}
.plus_minus a.button {
  width: 1.5em;
  height: 1.5em;
  background: #000;
  color: #fff;
  display: block;
  float: left;
  margin-left: 0.75em;
  text-align: center;
  font-weight: bold;
  position: relative;
  top: 0.15em;
}
.plus_minus a.button:hover {
  text-decoration: none;
  opacity: 1;
  filter: alpha(opacity=100);
}
#search_elements_conteiner,
#add_article_conteiner {
  list-style: none;
}
#search_elements_conteiner li,
#add_article_conteiner li {
  *zoom: 1;
  margin-right: -0.75em;
  margin-left: -0.75em;
  position: relative;
  top: 0.4em;
  margin-bottom: 0.75em;
}
#search_elements_conteiner li:before,
#add_article_conteiner li:before,
#search_elements_conteiner li:after,
#add_article_conteiner li:after {
  display: table;
  content: "";
}
#search_elements_conteiner li:after,
#add_article_conteiner li:after {
  clear: both;
}
#search_elements_conteiner .label_select,
#add_article_conteiner .label_select {
  display: block;
  width: 33.33333333333333%;
  float: left;
  padding-right: 0.75em;
  padding-left: 0.75em;
}
#search_elements_conteiner input,
#add_article_conteiner input {
  width: 100%;
}
#search_elements_conteiner select,
#add_article_conteiner select,
#search_elements_conteiner .select_wrap,
#add_article_conteiner .select_wrap {
  width: 100%;
}
#search_elements_conteiner .year input,
#add_article_conteiner .year input {
  width: 6em;
}
#search_elements_conteiner .search_column,
#add_article_conteiner .search_column {
  display: block;
  width: 66.66666666666666%;
  float: left;
  padding-right: 0.75em;
  padding-left: 0.75em;
}
#search_elements_conteiner .search_column .input_wrap,
#add_article_conteiner .search_column .input_wrap {
  display: block;
  margin-right: 4.5em;
}
.meta_column {
  margin-left: 16.666666666666664%;
  width: 50%;
  float: left;
  padding-right: 0.75em;
  padding-left: 0.75em;
  /*margin-bottom: 1.5em;*/

}
.part_width .meta_column {
  margin-left: 22.22222222222222%;
  width: 66.66666666666666%;
  float: left;
  padding-right: 0.75em;
  padding-left: 0.75em;
  /*margin-bottom: 1.5em;*/

}
.data_block {
  /*padding-right: 3em;*/

}
ul.menu {
  list-style: none;
}
ul.menu li {
  float: left;
  position: relative;
}
ul.menu li a {
  padding-left: 0.75em;
  padding-right: 0.75em;
}
ul.menu li:after {
  content: "|";
}
ul.menu li:last-child a {
  padding-right: 0px;
}
ul.menu li:last-child:after {
  display: none;
}
ul.menu li:first-child a {
  padding-left: 0px;
}
.small {
  font-size: 0.8125em;
  line-height: 1.38465em;
}
p.small,
div.small p {
  top: 0.75em;
  margin-bottom: 1.38465em;
}
div.small p {
  margin-bottom: 1.38465em;
}
#footer {
  position: absolute;
  padding-bottom: 3em;
  bottom: 0px;
  left: 2.25em;
  right: 2.25em;
}
#footer .mhp_logo {
  width: 16.666666666666664%;
  float: left;
  padding-right: 0.75em;
  padding-left: 0.75em;
}
#footer #footer_menu {
  width: 100%;
  float: left;
  padding-right: 0.75em;
  padding-left: 0.75em;
  width: auto;
}
#footer .design_note {
  width: 25%;
  float: left;
  padding-right: 0.75em;
  padding-left: 0.75em;
  width: auto;
  float: right;
  text-align: right;
}
.copyright_box {
  margin-top: 3em;
  margin-bottom: 3em;
}
input[type="text"],
select,
input[type="submit"],
input[type="button"],
.filter_button,
input[type="password"] {
  white-space: nowrap;
  display: inline-block;
  font-size: 0.8125em;
  line-height: 1.38465em;
  line-height: 1em;
  height: 1.84615em;
  /*width: 100%;*/

  position: relative;
  top: 0em;
  padding-top: 0.15em;
  padding-bottom: 0.15em;
  padding-left: 0.4em;
  padding-right: 0.4em;
  font-family: "PT Mono", courier, mono-spaced;
  background: none;
  outline: none;
  border: 1px solid #000;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.filter_button {
  position: relative;
  top: 0.4em;
  background: rgba(0, 0, 0, 0.1);
  border: 0px;
  margin-bottom: 0.4615em;
  margin-right: 0.2em;
  padding-right: 2em;
  line-height: 1.84615em;
  padding-top: 0px;
  padding-bottom: 0px;
}
.filter_button a {
  display: block;
  width: 1.84615em;
  height: 1.84615em;
  position: absolute;
  background: url("../images/closer_02.png") center no-repeat;
  background-size: 9px ;
  top: 0px;
  right: 0px;
  background-size: #000;
}
input[type="submit"],
input[type="button"] {
  background: #000;
  color: #fff;
  font-family: inherit;
  cursor: pointer;
  font-weight: bold;
}
select {
  padding-right: 0em;
  display: inline-block;
  position: relative;
  z-index: 99;
  min-width: 12em;
}
.select_wrap {
  display: inline-block;
  width: auto;
  position: relative;
}
.select_wrap:after {
  content: " ";
  position: absolute;
  z-index: 20;
  top: 2px;
  height: 1.5em;
  width: 1.5em;
  right: 0em;
  text-align: center;
  background: url("../images/select_arrow_05.png") no-repeat center;
  background-size: 8px;
}
input[type="checkbox"] {
  margin: 0px;
  position: relative;
  top: 0.4em;
}
.full_width {
  width: 100%;
  float: left;
  padding-right: 0.75em;
  padding-left: 0.75em;
}
.part_width {
  width: 75%;
  float: left;
  padding-right: 0.75em;
  padding-left: 0.75em;
}
#freeze {
  width: 100%;
  float: left;
  padding-right: 0.75em;
  padding-left: 0.75em;
}
#freeze .real_box {
  width: 100%;
  float: left;
  padding-right: 0.75em;
  padding-left: 0.75em;
  padding-top: 1.5em;
  background: #e3eaf2;
}
#freeze .go_top {
  width: 25%;
  float: left;
  padding-right: 0.75em;
  padding-left: 0.75em;
  float: right;
  width: auto;
  margin-top: -1.5em;
  transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  /* Firefox 4 */

  -webkit-transition: all 0.25s ease;
  /* Safari and Chrome */

  -o-transition: all 0.25s ease;
  /* Opera */

  -ms-transition: all 0.25s ease;
  opacity: 0;
  filter: alpha(opacity=0);
}
#main_page_search input {
  width: 100%;
  font-size: 1em;
  top: 0px;
  display: block;
  height: 2.25em;
}
#main_page_search .input_wrap {
  margin-right: 5em;
  display: block;
}
#main_page_search .big_button {
  float: right;
  width: 4.5em;
}
#freeze.stopped {
  position: fixed;
  top: 0px;
  z-index: 99;
  max-width: 1280px;
  padding-left: 2.25em;
  padding-right: 2.25em;
  left: 0px;
  right: 0px;
  margin: auto;
}
#freeze.stopped .go_top {
  opacity: 1;
  filter: alpha(opacity=100);
}
.part_width #freeze.stopped .real_box {
  width: 75%;
}
.mhp_logo_img {
  float: left;
  margin-right: 0.75em;
}
.links_box {
  width: 50%;
  float: left;
  padding-right: 0.75em;
  padding-left: 0.75em;
}
.links_box .regular {
  white-space: nowrap;
  display: block;
  float: left;
}
.links_box .tom_link {
  margin-right: 0.75em;
  white-space: nowrap;
  display: block;
  float: left;
}
.margin_check {
  width: 16.666666666666664%;
  float: left;
  padding-right: 0.75em;
  padding-left: 0.75em;
}
.right_button {
  text-align: right;
}
.icon_img {
  margin-right: 0.4em;
}
.big_button,
input[type="submit"].big_button,
input[type="button"].big_button {
  font-size: 1em !important;
  height: 2.25em;
  margin: 0px;
  line-height: 1.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.big_logo {
  height: 4em;
  width: auto;
  margin-right: 0.33em;
  display: inline;
  position: relative;
  margin-top: 1.33em;
  margin-bottom: 1.75em;
}
ul.table_content {
  top: 0px;
  list-style: none;
}
ul.table_content li {
  position: relative;
  padding-bottom: 1.5em;
}
ul.table_content li:first-child:after {
  border-top: 0px;
}
ul.table_content h2,
ul.table_content h3 {
  margin: 0px;
}
ul.table_content p {
  margin: 0px;
}
ul.table_content ul {
  position: relative;
  margin-top: 1.5em;
  margin-bottom: 0em;
  top: 0px;
  list-style: none;
  *zoom: 1;
  margin-right: -0.75em;
  margin-left: -0.75em;
}
ul.table_content ul:before,
ul.table_content ul:after {
  display: table;
  content: "";
}
ul.table_content ul:after {
  clear: both;
}
ul.table_content ul li {
  margin-left: 16.666666666666664%;
  position: relative;
}
ul.table_content ul li .margin_check {
  width: 1.5em;
  margin-left: -1.5em;
}
ul.table_content ul li:first-child:after {
  display: none;
}
ul.table_content ul li:after {
  left: 0.75em;
  right: 0.75em;
}
ul.table_content ul .links_box {
  width: 60%;
  float: left;
  padding-right: 0.75em;
  padding-left: 0.75em;
  float: none;
}
.icon {
  display: inline-block;
  width: 1.5em;
  height: 1.53em;
  position: relative;
  margin-bottom: -0.5em;
}
.icon.email {
  background: url("../images/share_01.png") center no-repeat;
  background-size: 100%;
}
.icon.facebook {
  background: url("../images/share_03.png") center no-repeat;
  background-size: 100%;
}
.icon.twitter {
  background: url("../images/share_05.png") center no-repeat;
  background-size: 100%;
}
.icon.google_plus {
  background: url("../images/share_07.png") center no-repeat;
  background-size: 100%;
}
.icon.download {
  background: url("../images/download_icon_03.png") -4px -2px no-repeat;
  background-size: 23px 22px;
}
.icon.full_text {
  background: url("../images/full_text_03.png") -4px -2px no-repeat;
  background-size: 22px;
}
.subul_wrap {
  position: relative;
}
.part_width .margin_check {
  width: 22.22222222222222%;
  float: left;
  padding-right: 0.75em;
  padding-left: 0.75em;
}
.part_width .links_box {
  width: 66.66666666666666%;
  float: left;
  padding-right: 0.75em;
  padding-left: 0.75em;
}
.part_width ul ul li {
  margin-left: 22.22222222222222%;
}
.part_width ul ul li:first-child:after {
  display: none;
}
.part_width ul ul li:after {
  left: 0.75em;
  right: 0.75em;
}
.part_width ul ul .links_box {
  width: 85.71428571428571%;
  float: left;
  padding-right: 0.75em;
  padding-left: 0.75em;
  float: none;
}
.arrow {
  font-family: "Times", "Times New Roman", serif;
}
.border {
  width: 100%;
  float: left;
  padding-right: 0.75em;
  padding-left: 0.75em;
}
.pagination {
  margin-bottom: 1.5em;
}
.margin_check h1 {
  margin-top: 0px;
}
.disabled a {
  cursor: default;
  opacity: 0.33;
  filter: alpha(opacity=33);
}
.disabled a:hover {
  text-decoration: none;
}
.links_box.full {
  width: 75%;
  float: left;
  padding-right: 0.75em;
  padding-left: 0.75em;
}
.links_box.tom {
  width: 25%;
  float: left;
  padding-right: 0.75em;
  padding-left: 0.75em;
}
p.label {
  display: inline-block;
  margin-bottom: 0px;
}
ul.table_content.alphabet li {
  padding-bottom: 0px;
}
ul.table_content.alphabet h1 {
  font-weight: normal;
  margin-top: 0px;
  margin-bottom: -1em;
  /*display: none;*/

}
ul.table_content.alphabet .active h1 {
  position: fixed;
  top: 1.5em;
  margin-top: 0.1333em;
}
ul.table_content.alphabet .scrolled h1 {
  position: absolute;
  bottom: 1em;
  top: auto;
  margin-bottom: -0.1333em;
}
ul.table_content.alphabet .links_box {
  margin-bottom: 3em;
}
ul.table_content.alphabet ul {
  margin-top: 0px;
}
ul.horisontal_big {
  list-style: none;
  top: 0px;
  *zoom: 1;
}
ul.horisontal_big:before,
ul.horisontal_big:after {
  display: table;
  content: "";
}
ul.horisontal_big:after {
  clear: both;
}
ul.horisontal_big li {
  float: left;
  font-size: 1.3125em;
  line-height: 1.1428em;
  position: relative;
  top: 0.3em;
  margin-bottom: 1.1428em;
  /*  margin-top: 2.2856em;*/

  margin-bottom: 0px;
  padding-right: 0.33em;
}
ul.horisontal_big li.active a {
  font-weight: bold;
}
span.horisontal_big {
  display: inline-block;
  font-size: 1.3125em;
  line-height: 1.1428em;
  position: relative;
  top: 0.3em;
  margin-bottom: 1.1428em;
  /*  margin-top: 2.2856em;*/

  margin-bottom: 0px;
}
span.horisontal_big a {
  padding-left: 0.33em;
  font-weight: bold;
}
#results_header {
  margin-top: 3em;
}
#results_header h2 {
  margin-bottom: 0px;
}
#results_header .links_box {
  margin-bottom: -0.375em;
}
.mono {
  font-family: "PT Mono", courier, mono-spaced;
}
#sidebar {
  width: 25%;
  float: left;
  padding-right: 0.75em;
  padding-left: 0.75em;
}
#sidebar.filter {
  padding-top: 3em;
}
.filter_ul {
  list-style: none;
  border-top: 1px solid rgba(0, 0, 0, 0.166);
  top: 0px;
  padding-top: 0.3em;
}
.filter_ul .active {
  font-weight: bold;
}
.filter_ul li {
  position: relative;
  top: 0.4em;
  font-size: 0.8125em;
  line-height: 1.38465em;
  margin-bottom: 0.6923em;
}
.years input {
  width: 5em;
}
.more {
  text-align: right;
}
.nowrap_wide {
  white-space: nowrap;
}
.two_column {
  width: 50%;
  float: left;
  padding-right: 0.75em;
  padding-left: 0.75em;
}
#menu_box_icon {
  display: none;
  width: 1.5em;
  height: 1.5em;
  background: #000;
  float: right;
  margin-right: 0.75em;
  margin-top: -2.75em;
  background: url("../images/search_icon_03.png");
  background-size: 100%;
  cursor: pointer;
}
.home_search {
  margin-bottom: 12em;
}
.error_comment {
  font-size: 0.8125em;
  line-height: 1.38465em;
  display: none;
}
.error_comment.error {
  display: block;
  color: red;
  padding-top: 3px;
  padding-bottom: 6px;
}
.download_box {
  margin-top: 40px;
}
.download_box .download_list {
  list-style: none;
}
/* Styles from big to small. Default is 1280 standard.*/
/* Big screens */
@media only screen and (min-width: 1440px) {
  
}
/* Small screens */
@media only screen and (max-width: 1024px) {
  .meta_column {
    margin-left: 0%;
    width: 66.66666666666666%;
    float: left;
    padding-right: 0.75em;
    padding-left: 0.75em;
  }
  .margin_check {
    width: 8.333333333333332%;
    float: left;
    padding-right: 0.75em;
    padding-left: 0.75em;
  }
  .links_box {
    width: 58.333333333333336%;
    float: left;
    padding-right: 0.75em;
    padding-left: 0.75em;
  }
  ul.table_content ul li {
    margin-left: 8.333333333333332%;
  }
  ul.table_content ul li .links_box {
    width: 64%;
    float: none;
  }
  .part_width {
    width: 75%;
    float: left;
    padding-right: 0.75em;
    padding-left: 0.75em;
  }
  .part_width .meta_column {
    margin-left: 0%;
    width: 88.88888888888889%;
    float: left;
    padding-right: 0.75em;
    padding-left: 0.75em;
  }
  .part_width .links_box {
    width: 77.77777777777779%;
    float: left;
    padding-right: 0.75em;
    padding-left: 0.75em;
  }
  .part_width .margin_check {
    width: 11.11111111111111%;
    float: left;
    padding-right: 0.75em;
    padding-left: 0.75em;
  }
  #sidebar {
    width: 25%;
    float: left;
    padding-right: 0.75em;
    padding-left: 0.75em;
  }
  #results_header .links_box {
    width: 88.88888888888889%;
    float: left;
    padding-right: 0.75em;
    padding-left: 0.75em;
  }
  #results_header .margin_check {
    display: none;
  }
  #header #logo,
  #footer .mhp_logo {
    width: 25%;
    float: left;
    padding-right: 0.75em;
    padding-left: 0.75em;
  }
  #header #menu_box {
    width: 75%;
    float: left;
    padding-right: 0.75em;
    padding-left: 0.75em;
  }
  #header #menu_box #top_search {
    width: 33.33333333333333%;
    float: left;
    padding-right: 0.75em;
    padding-left: 0.75em;
    float: right;
  }
  #footer .footer_box {
    width: 75%;
    float: left;
    padding-right: 0.75em;
    padding-left: 0.75em;
  }
  #footer .footer_box .design_note {
    text-align: left;
    width: 100%;
    float: left;
    padding-right: 0.75em;
    padding-left: 0.75em;
  }
  #top_alphabet .margin_check {
    display: none;
  }
  #top_alphabet .links_box {
    width: 90%;
  }
  .hide_on_1000 {
    display: none;
  }
  #search_elements_conteiner .label_select {
    width: 37.5%;
    float: left;
    padding-right: 0.75em;
    padding-left: 0.75em;
  }
  #search_elements_conteiner .search_column {
    width: 62.5%;
    float: left;
    padding-right: 0.75em;
    padding-left: 0.75em;
  }
}
#user_menu_conteiner {
  *zoom: 1;
}
#user_menu_conteiner:before,
#user_menu_conteiner:after {
  display: table;
  content: "";
}
#user_menu_conteiner:after {
  clear: both;
}
#user_menu_conteiner #user_menu {
  height: 1.5em;
  margin-bottom: 0.75em;
  list-style: none;
  float: right;
}
#user_menu_conteiner #user_menu li {
  position: relative;
  top: 4px;
  float: left;
  font-size: 0.8125em;
  line-height: 1.38465em;
}
#epolka_header .header_wrap {
  margin-left: 22.22222222222222%;
  width: 77.77777777777779%;
  float: left;
  padding-right: 0.75em;
  padding-left: 0.75em;
  margin-top: 1.5em;
  margin-bottom: 2.25em;
}
#epolka_header .header_wrap h2 {
  line-height: 36px;
  font-size: 35px;
  margin-bottom: 0px;
  position: relative;
  top: 17px;
}
.epolka_menu {
  margin-top: 10.5em;
}
.epolka_menu .administration_icons {
  padding-bottom: 15px;
  margin-top: -45px;
  *zoom: 1;
}
.epolka_menu .administration_icons:before,
.epolka_menu .administration_icons:after {
  display: table;
  content: "";
}
.epolka_menu .administration_icons:after {
  clear: both;
}
.epolka_menu .administration_icons .adminicon {
  display: block;
  float: right;
  height: 30px;
  width: 30px;
  margin-left: 6px;
  position: relative;
}
.epolka_menu .administration_icons .adminicon span {
  transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  /* Firefox 4 */

  -webkit-transition: all 0.25s ease;
  /* Safari and Chrome */

  -o-transition: all 0.25s ease;
  /* Opera */

  -ms-transition: all 0.25s ease;
  display: block;
  height: 30px;
  width: 30px;
  background: url(../images/epolka_icons_03.png);
  position: relative;
  /*margin-bottom: -30px;*/

  cursor: pointer;
}
.epolka_menu .administration_icons .adminicon:hover span {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.epolka_menu .administration_icons .add_new span {
  background: url(../images/epolka_icons_03.png);
}
.epolka_menu .administration_icons .edit_folder span {
  background: url(../images/epolka_icons_03.png) -40px;
}
.epolka_menu .administration_icons .edit_folder .edit_menu {
  display: none;
  background: #000;
  width: 180px;
  padding: 0.75em;
  padding-top: 0.5em;
  padding-bottom: 0.33em;
  right: 0px;
  position: absolute;
  top: 39px;
  color: #fff;
  z-index: 99;
}
.epolka_menu .administration_icons .edit_folder .edit_menu a {
  display: block;
  font-size: 0.8125em;
  line-height: 1.38465em;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 0.5em;
}
.epolka_menu .administration_icons .edit_folder .edit_menu a:hover {
  opacity: 0.75;
  filter: alpha(opacity=75);
}
.epolka_menu .administration_icons .edit_folder .edit_menu:after {
  position: absolute;
  top: -8px;
  right: 9px;
  background: url(../images/triangle_03.png) center top;
  display: block;
  content: " ";
  height: 9px;
  width: 20px;
}
.epolka_menu ul {
  list-style: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.166);
  top: 0px;
}
.epolka_menu ul li.active {
  font-weight: bold;
}
.epolka_menu ul li {
  line-height: 2.25em;
  border-top: 1px solid rgba(0, 0, 0, 0.166);
}
.epolka_menu ul li ul {
  margin-bottom: 0px;
  border-bottom: 0px;
  border-top: 0px;
}
.epolka_menu ul li ul li {
  padding-left: 1.5em;
}
.popup_window {
  position: fixed;
  top: 25%;
  left: 0px;
  right: 0px;
  width: 500px;
  min-height: 132px;
  padding-bottom: 4.5em;
  background: #fff;
  margin: auto;
  z-index: 999;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 0.75em;
  -webkit-box-shadow: 6px 6px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 6px 6px rgba(0, 0, 0, 0.16);
  box-shadow: 6px 6px rgba(0, 0, 0, 0.16);
}
.popup_window .popup_closer {
  width: 24px;
  height: 24px;
  background: url(../images/popup_close_03.png) center center no-repeat;
  position: absolute;
  top: 6px;
  right: 6px;
  cursor: pointer;
}
.popup {
  display: none;
}
.popup_overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: #e3eaf2;
  opacity: 0.75;
  filter: alpha(opacity=75);
  z-index: 990;
}
.secondary_button {
  color: #000 !important;
  background: rgba(0, 0, 0, 0.12) !important;
  border: 1px solid rgba(0, 0, 0, 0) !important;
}
.buttons_conteiner {
  position: absolute;
  bottom: 1.5em;
  right: 1.5em;
}
.form_row {
  position: relative;
  top: 0.4em;
  *zoom: 1;
}
.form_row:before,
.form_row:after {
  display: table;
  content: "";
}
.form_row:after {
  clear: both;
}
.form_row .label_col {
  float: left;
  width: 144px;
}
.form_row .input_col {
  width: 308px;
  float: left;
}
.form_row .input_col input {
  width: 100%;
}
#panel_header .button_wrap {
  width: 16.666666666666664%;
  float: left;
  padding-right: 0.75em;
  padding-left: 0.75em;
  padding-top: 3em;
}
#panel_header .header_wrap {
  width: 83.33333333333334%;
  float: left;
  padding-right: 0.75em;
  padding-left: 0.75em;
  margin-top: 1.5em;
  margin-bottom: 2.25em;
}
#panel_header .header_wrap h2 {
  line-height: 36px;
  font-size: 35px;
  margin-bottom: 0px;
  position: relative;
  top: 17px;
}
.side_button.button_wrap {
  width: 16.666666666666664%;
  float: left;
  padding-right: 0.75em;
  padding-left: 0.75em;
  padding-top: 3em;
}
.side_button.meta_column {
  margin-left: 0%;
}
ul.panel_list li {
  padding-bottom: 3em;
}
#add_article_conteiner {
  padding-bottom: 0.75em;
}
#add_article_conteiner .years {
  padding-bottom: 0.75em;
}
#add_article_conteiner .label {
  display: block;
  margin-bottom: 0.75em;
}
#add_article_conteiner .title .label {
  width: 100%;
  float: left;
  padding-right: 0.75em;
  padding-left: 0.75em;
}
#add_article_conteiner .title .input_text_wrap {
  width: 66.66666666666666%;
  float: left;
  padding-right: 0.75em;
  padding-left: 0.75em;
}
#add_article_conteiner .title .search_column {
  width: 33.33333333333333%;
  float: left;
  padding-right: 0.75em;
  padding-left: 0.75em;
}
#add_article_conteiner .title .search_column select {
  min-width: 0px;
}
#add_article_conteiner .author .input_text_wrap {
  width: 33.33333333333333%;
  float: left;
  padding-right: 0.75em;
  padding-left: 0.75em;
}
#add_article_conteiner .author .search_column {
  padding-top: 1.5em;
  width: 33.33333333333333%;
  float: left;
  padding-right: 0.75em;
  padding-left: 0.75em;
}
#add_article_conteiner .author .search_column select {
  min-width: 0px;
}
#add_article_conteiner p.line {
  margin-bottom: 0.75em;
  margin-top: 1.5em;
}
#add_article_conteiner span.one_three {
  display: block;
  width: 33.33333333333333%;
  float: left;
  padding-right: 0.75em;
  padding-left: 0.75em;
}
.add_article_submit {
  margin-bottom: 72px;
}
.mobile_alphabet {
  margin-bottom: 1.5em;
  width: 100%;
  float: left;
  padding-right: 0.75em;
  padding-left: 0.75em;
  float: none;
  display: none;
}
.mobile_alphabet .select_wrap {
  width: 100%;
}
.mobile_alphabet .select_wrap select {
  width: 100%;
}
.login_popup .form_row,
.register_popup .form_row {
  margin-bottom: 10px;
}
.forget_password {
  position: absolute;
  left: 1.5em;
  bottom: 1.5em;
}
.forget_password a {
  text-decoration: underline;
}
/* Tablets */
@media only screen and (max-width: 780px) {
  body,
  html {
    min-width: 0px;
  }
  #user_menu_conteiner {
    display: none;
  }
  #header {
    padding-top: 1.5em;
  }
  .margin_check {
    display: none;
  }
  .freeze_wrap {
    display: none;
  }
  .meta_column,
  .links_box {
    width: 100%;
    float: left;
    padding-right: 0.75em;
    padding-left: 0.75em;
  }
  ul.table_content ul li .links_box {
    width: 100%;
  }
  .share {
    margin-bottom: 1.5em;
  }
  ul.table_content li:first-child:after {
    border-top: 1px solid rgba(0, 0, 0, 0.166);
  }
  ul.table_content ul li {
    margin-left: 2.25em;
  }
  .nowrap_wide {
    white-space: normal;
  }
  #menu_box_icon {
    display: block;
  }
  #header #logo,
  #footer .mhp_logo {
    width: 100%;
    float: left;
    padding-right: 0.75em;
    padding-left: 0.75em;
  }
  #header #menu_box {
    width: 100%;
    float: left;
    padding-right: 0.75em;
    padding-left: 0.75em;
  }
  #header #menu_box #top_search {
    /*padding-top: 1.5em;*/
  
    width: 100%;
    float: left;
    padding-right: 0.75em;
    padding-left: 0.75em;
    padding-bottom: 1.5em;
  }
  .no_mobile {
    display: none;
  }
  ul.menu .no_mobile + li a {
    padding-left: 0px;
  }
  #menu_box {
    display: none;
  }
  #header #logo {
    padding-bottom: 1.1em;
  }
  #footer .footer_box {
    width: 100%;
    float: left;
    padding-right: 0.75em;
    padding-left: 0.75em;
  }
  #footer .footer_box .design_note {
    text-align: left;
    width: 100%;
    float: left;
    padding-right: 0.75em;
    padding-left: 0.75em;
  }
  #results_header .links_box {
    display: none;
  }
  #results_header .part_width .margin_check {
    display: block;
  }
  #sidebar.filter {
    display: none;
  }
  .part_width {
    width: 100%;
    float: left;
    padding-right: 0.75em;
    padding-left: 0.75em;
  }
  .part_width .links_box {
    width: 100%;
    float: left;
    padding-right: 0.75em;
    padding-left: 0.75em;
  }
  #results_header .margin_check {
    display: block;
    width: 100%;
    float: none;
    padding-bottom: 1.5em;
  }
  ul.table_content.alphabet li.active h1 {
    position: relative;
    top: auto;
    bottom: auto;
  }
  ul.table_content.alphabet li.scrolled h1 {
    position: relative;
    top: auto;
    bottom: auto;
  }
  ul.table_content.alphabet li[attr-letter]:after {
    display: none;
  }
  ul.table_content.alphabet ul li:first-child:after {
    display: block;
  }
  ul.table_content.alphabet h1 {
    margin-bottom: 0.5em;
  }
  ul.table_content.alphabet ul li {
    margin-left: 0px;
  }
  .links_box.tom {
    width: 100%;
    float: left;
    padding-right: 0.75em;
    padding-left: 0.75em;
  }
  .mobile_alphabet {
    display: block;
  }
}
/* Smartphones */
@media only screen and (max-width: 480px) {
  body,
  html {
    font-size: 14px;
  }
  #footer {
    left: 1.5em;
    right: 1.5em;
  }
  #main_conteiner {
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
  h1 {
    font-size: 2.25em;
    line-height: 1em;
  }
  .share {
    width: 100%;
    float: left;
    padding-right: 0.75em;
    padding-left: 0.75em;
  }
  ul.table_content ul li {
    margin-left: 1.5em;
  }
  .two_column {
    width: 100%;
    margin-bottom: 1em;
  }
  #footer .mhp_logo {
    width: 100%;
    float: left;
    padding-right: 0.75em;
    padding-left: 0.75em;
  }
  input[type="text"],
  select,
  input[type="submit"],
  input[type="button"],
  .filter_button,
  input[type="password"] {
    white-space: nowrap;
    display: inline-block;
    font-size: 1em;
    line-height: 1em;
    height: 1.84615em;
    /*width: 100%;*/
  
    position: relative;
    top: 0em;
    padding-top: 0.15em;
    padding-bottom: 0.15em;
    padding-left: 0.4em;
    padding-right: 0.4em;
  }
  #header #top_search .text_input_wrap {
    margin-right: 4.75em;
  }
  .copyright_box {
    margin-top: 0px;
    margin-bottom: 3em;
  }
  .links_box {
    line-height: 3em;
  }
  span.horisontal_big a {
    padding-right: 1em;
    padding-left: 0em;
    line-height: 1.5em;
  }
  .share a.icon {
    margin-right: 0.5em;
    margin-left: 0.5em;
  }
}
