{% include templ.header %}
{% load i18n %}
      <div id="content_conteiner" class="wrap">
          <div class="meta_column">
              <h1 class="regular">Kod aktywacji jest nieprawidłowy lub został już wykorzystany</h1>
              <p class="data_block">Jeżeli uważasz, że wystąpił błąd, to skontaktuj się z administratorem: <br><a class="bold" href="mailto:admin@bazhum.pl" title="">admin@bazhum.pl</a>
              <br><br><br>
          </p></div>

          <div class="clear"></div>          

{% include templ.footer %}