{% include templ.header %}
{% load i18n %}
      <div id="content_conteiner" class="wrap">
          <div class="meta_column">
          	<form method="post" action="" > {% csrf_token %}
              <h1 class="regular">{% trans 'Zmiana hasła' %}</h1>
               <br>
               {{ form.errors }}
               <div id="advanced_search_conteiner">
                    <hr> 
                    <ul class="simple_form" id="add_article_conteiner">
                	  <li>
                        <span>{% trans 'Adres email' %}:</span>
                        {{ form.username }}
                      </li>
                      <li>
                        <span>{% trans 'Nowe hasło' %}:</span>
                        {{ form.password }}
                      </li>
                      <li>
                        <span>{% trans 'Powtórz nowe hasło' %}:</span>
                        {{ form.password2 }}
                      </li>
                    </ul>
                 
                    <p class="line right_button add_article_submit">
                      <input class="big_button" type="submit" name="" value="{% trans 'Zmień hasło' %}">
                    </p>

                  
                </div> 
            </form>
          </div>

          <div class="clear"></div>          

{% include templ.footer %}